@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --dark: #080809;
    --bright: #EDF2F4;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.main-container{
    background-color: var(--bright);
    color: var(--dark);
    padding-left: 7rem;
    min-height: 100% !important;
}
.background-image{
    width: 100%;
    text-align: center;
    position: relative;
    filter: drop-shadow( -15px 10px 15px rgba(22, 22, 22, 0.5));
    transition-duration: 2s;
    animation-name: action;
    animation-duration: 3s;
}
.background-image:hover{
    transform: scaleX(.9);
    filter: drop-shadow( -5px 10px 15px rgba(82, 81, 81, 0.6));
}
.main-title{
    font-size: 4rem;
    text-align: left;
    letter-spacing: .2rem;
    font-weight: 600;
    text-shadow: 3px 1px 3px #0808096b;
}

.main-paragraph{
    text-align: left;
    position: relative;
    color: #181e20bd;
    bottom: 1rem;
    font-size: 2rem;
}

/* BUTTONS */

.btn-shop{
    background-color: var(--dark) !important;
    color: var(--bright) !important;
    border: none;
    width: 13rem;
    height: 4rem;
}

.btn-shop:hover{
    background-color: var(--dark);
    color: var(--bright) !important;
    border: none;
}

.btn-second{
    background-color: var(--bright) !important;
    color: var(--dark);
    font-weight: 600 !important;
    border: none;
    box-shadow:  rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset, rgba(46, 50, 53, 0.63) 3px 3px 6px 0px inset;
    width: 13rem;
    height: 4rem;
    margin-left: 1rem;
}

.btn-second:hover{
    background-color: var(--bright);
    color: var(--dark);
    font-weight: 600;
    border: none;
    border-radius: 0;
    margin-left: 1rem;
    box-shadow: none;
}

.buttons{
    margin-top: 6rem;
    display: flex;
    align-items: center;
}

/* NEW IN SHOP CONTAINER */

.new-in-container{
    text-align: left;
    background-color: var(--dark);
    color: var(--bright);
    padding: 5rem 7rem;
}

.hr-number-01{
    width: 3rem;
    height: 2px !important;
    border: none;
    position: relative;
    top: 15px;
    background-color: #EDF2F4;
    opacity: 1;
    margin: 0 .5rem 0 0;
}
.main-container, .new-in-container{
    min-height: 100% !important;
    height: 100%;
}

.new-in-container__img{
    margin-bottom: 2rem;
    border-radius: 20px;
}

.new-in-product-image{
    border-radius: 20px;
    width: 90%;
    box-shadow: #494c4d 0px 4px 6px -1px, #3d4041 0px 2px 4px -1px;
}
.arrow-for-btn{
    border: none;
    border-radius: none;
    box-shadow: none !important;
}
.new-in-container__img-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}


.see-all-btn, .see-all-btn:hover{
    background-color: var(--bright) !important;
    color: var(--dark) !important;
    font-weight: 600;
    box-shadow:  rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset, rgba(46, 50, 53, 0.63) 3px 3px 6px 0px inset;
    border: none;
    width: 12rem;
    height: 3.5rem;
}

/* NEWSLETTER */

.newsletter{
    padding: 5rem 7rem;
    background-color: var(--bright);
    text-align: right;
    position: relative;
}

.title{
    padding: 0;
    margin: 2rem 0 0 0;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 5px;
}
.hr-number-2{
    width: 3rem !important;
    height: 2px !important;
    border: none;
    position: relative;
    float: right;
    bottom: 2px;
    background-color: var(--dark);
    opacity: .8;
    margin-right: 3px;
}

.number-2{
    position: relative;
    float: right;

}

.newsletter-label{
    font-size: 16px;
}

.newsletter-input, .newsletter-button{
    margin-top: 1rem;
    outline: none;
    border: none;
    color:#080809;
    border-bottom: 2px solid #080809ce;
    border-radius: 0;
    background-color: transparent;
    font-size: 16px;
    padding-bottom: 1px;
}

.newsletter-input{
    width: 20rem;
}

.newsletter-paragraph{
    font-size: 16px;
    padding: 0;
    margin-bottom: 4rem;
}

/* ANIMACIJE */

@keyframes action {
    to{transform: scaleX(.9);
    filter: drop-shadow( -5px 10px 15px rgba(82, 81, 81, 0.6));}
}

/* RESPONSIVE */

/* MOBILE */
@media screen and (max-width: 767px) { /*ako je 767 ili manje */
    .main-container, .new-in-container, .newsletter{
        padding: 1.5rem !important;
    }
    .main-container{
        padding-bottom: 10rem !important;
        padding-top: 5rem !important;
    }
    .main-title{
        font-size: 2.5rem;
    }
    .main-paragraph{
        font-size: 1.5rem;
    }
    .buttons{
        margin-top: 2rem;
    }
    .btn-shop, .btn-second{
        width: 8rem !important;
        height: 2.5rem !important;
        padding: 0;
        font-size: 16px !important;
    }
    .btn-second{
        margin-left: 0.5rem;
    }
    .background-image{
        /* position: relative;
        top: 2rem !important;
        margin: 0; */
        display: none;
    }

    .new-in-container__img-text{
        font-size: 16px;
    }
    .see-all-btn{
        margin-top: 2rem;
        width: 8rem;
        height: 2.5rem;
        align-items: center;
        padding: 0 !important;
        font-size: 14px !important;
    }
    .see-all-btn img{
        width: 14px;
    }
    .title{
        font-size: 1.5rem;
    }
    .newsletter-input{
        width: 10rem;
        border-bottom: 1px solid #080809;
        margin-top: 0;
    }
    .newsletter-button{
        border-bottom: 1px solid #080809;
    }
    .newsletter-paragraph, .newsletter-label, .newsletter-input, .newsletter-button{
        font-size: 14px;
    }
    .newsletter-label{
        margin-bottom: 0;
    }
}
/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) { /*ako je 768 ili vise*/
    .new-in-container, .newsletter{
        padding: 3rem !important;
    }
    .main-container{
        padding: 10rem 3rem 8rem 3rem;
    }

    .main-title{
        font-size: 3rem;
    }
    .main-paragraph{
        font-size: 2rem;
    }
    .buttons{
        margin-top: 3rem;
    }
    .background-image{
        /* position: relative;
        top: 3rem !important;
        margin: 0; */
        display: none;
    }
    .title{
        font-size: 2rem;
    }
    .new-in-product-image{
        width: 100%;
    }
}