@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main-navlink{
    text-shadow: 1px 0px #181e209f;
    color: #181e20d0;
    text-decoration: none;
}
.main-navlink:hover{
    color: var(--dark)
}

.search-acc-cart{
    display: flex;
    flex-direction: row !important;
    justify-content: center;
}
/* MOBILE */
@media screen and (max-width: 767px) { /*ako je 767 ili manje */
    .search-acc-cart{
        margin-top: 2rem;
    }
}
 /* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) { /*ako je 768 ili vise*/
    .search-acc-cart{
        margin-top: 1rem;
    }
    .search-acc-cart > .nav-link{
        margin: .5rem;
    }
}