.dashboard-container{
    background-color: var(--bright);
    min-height: 100% !important;
    font-size: 14px !important;
    position: relative;
}

.pro-sidebar{
    color: var(--bright);
    height: 100vh;
}

.pro-sidebar, .pro-sidebar-inner, .pro-sidebar-layout {
    border-radius: 10px 0 0 10px;
    background-color: var(--dark);
}

.sidebar-title{
    padding: 3rem 1.5rem;
}

.quantity-dashboard{
    font-weight: 600;
    margin-bottom: 0;
}

.chart-container{
    margin-top: 2rem;
    width: 26rem;
    height: 24rem;
    margin-bottom: 3rem;
}

.dashboard-summary-title{
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.dashboard-info-container{
    max-height: 100vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}
#dashboard-customers{
    margin-top: 5rem;
}
#dashboard-orders{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.button-collapse{
    width: fit-content;
    background-color: var(--dark);
    margin-bottom: 1rem;
}
.new-product-dashboard{
    padding: 2rem;
    margin: 1rem 0 !important;
    font-size: 12px !important;
    border-top: 2px solid #080809;
    background-color: rgba(0, 0, 0, 0.05);;
}
.new-product-button{
    width: fit-content !important;
    height: 2.5rem;
    font-size: 12px !important;
    background-color: var(--dark) !important;
}
.new-product-label{
    font-weight: 600;
    font-size: 12px !important;
}

/* RESPONSIVE */

/* MOBILE */
@media screen and (max-width: 767px) { /*ako je 767 ili manje */
    .dashboard-container{
        padding: 0 !important;
        width: 100%;
        margin: 0 !important;
    }
    .pro-sidebar{
        width: 100%;
        height: fit-content;
    }
    .pro-sidebar, .pro-sidebar-inner, .pro-sidebar-layout {
        border-radius: 0;
    }
    .sidebar-title{
        margin: 0;
        padding: 0.5rem 1rem;
    }
    .dashboard-summary-title{
        margin-bottom: 1.5rem;
    }
    .chart-container{
        width: 22rem;
    }
}
/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) { /*ako je 768 ili vise*/
    .dashboard-container{
        padding: 0.5rem !important;
        width: auto;
    }
    .dashboard-info-container{
        padding: 1.5rem !important;
    }
    .pro-sidebar{
        width: 100%;
        height: fit-content;
    }
    .pro-sidebar, .pro-sidebar-inner, .pro-sidebar-layout {
        border-radius: 0;
    }
    .sidebar-title{
        margin: 0;
        padding: 1.5rem 1rem;
        font-size: 2rem;
    }
    .new-product-button{
        margin: 0 auto !important;
        margin-top: 2rem !important;
    }
}